/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2015, 9:22:12 PM
    Author     : sajana
*/

body{font-family:arial; margin:0; padding:0}
header{background:#286090; padding:10px; margin:0}
h1{color:#fff;}
section.tbl-holder{background:#f5f5f5; border:1px solid #ccc; border-radius:5px; padding:10px; overflow:hidden; margin:20px auto;}
table.tblform {width:100%}
table.tblform tr td{padding:5px}

.footer_color{
    background-color: #000;
}

.content{
    height: 500px;
}