/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2015, 9:22:12 PM
    Author     : sajana
*/

.footer_color{
    background-color: #000;
}

.content{
    height: 500px;
}