/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2015, 9:22:12 PM
    Author     : sajana
*/
*{margin:0; padding:0;}
html, body{ height:100%;}
body{font-family:arial; margin:0; padding:0}
select{ padding:6px 12px; width:100%;}
.header,
.footer{ 
    height:50px;
    padding:10px;
    margin:0
}
.pad-section{
    padding-top: 40px;
}
hr{
    margin:40px 0 60px;
}
.page_wrap{
    min-height: 100%;
    margin-bottom: -50px;
    padding-bottom: 50px;
}

section.tbl-holder{
    /*  
     border-radius:5px; 
     padding:10px; 
     overflow:hidden; 
     margin:20px auto;*/
    padding:20px;
    background:#f5f5f5; 
    border:1px solid #ccc;
    border-radius: 5px;
    margin:20px auto;
} 
table.tblform {width:100%}
table.tblform tr td{padding:5px}
.footer, .footer a,
.header a.navbar-brand,
.header .navbar-nav > li > a{
    font-family: 'Lobster', cursive;
    margin: 0;
}
.circle {
    color: white;
    font-size: 18px;
    font-style: italic;
    line-height: 1.15;
    width: 240px;
    height: 240px;
    border-radius: 200px;
    text-align: center;
    position:relative;
}
.inner-circle{
    height: 160px;
    width: 160px;
    top:40px;
    left:40px;
    position: absolute;
    border-radius: 200px;
    transition:all ease 0.5s;
}
.circle:hover .inner-circle{
    height: 232px;
    width:232px;
    top:4px;
    left:4px;
}
.circle:hover .inner-circle h4,
.inner-circle a{
    opacity:0;
    transition: all ease 0.5s;
}
.circle .inner-circle h4,
.circle:hover .inner-circle a{
    opacity:1;
}

.inner-circle a,
.inner-circle h4{
    display:block;
    position:absolute;
    left:20%;
    top:40%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #999;
}
.circle .inner-circle h4,
.circle .inner-circle a{
    width:120px;
    height:60px;
    left: 20px;
    top:60px;
    position: absolute;
    transition:all ease 0.5s;

}
.circle:hover .inner-circle h4,
.circle:hover .inner-circle a{
    left: 60px;
    top:90px;
}
.login_options{
    padding:15px 15px 0;
}
.search-container {
    padding: 15px 15px;
}
.search-container form{
    background:#fff;
}
.search-container form:hover {
    box-shadow: 0 0 2px #000;
}
.search-container input[type="text"]{
    border: none;
    padding: 4px;
    width:92%;
    outline:none;
}
.search-container input[type="submit"]{
    background-image: url('../resources/images/Hjd90nxKeYA.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -28px -470px;
    border:none;
    background-color:transparent;
    padding: 4px;
    width: 28px;
    border-left: 1px solid #ccc;
    height: 18px;
}
.task-list{
    margin-left:15px;
}
.task-list li{
    padding:15px 10px;
    border-bottom:1px solid #eee;
}
.task-list li .btn,
.btn-pad{
    margin: 10px 15px  10px 0;
}
/*=Tables
---------------------------------------*/
table.skill-list {  border-collapse: collapse; border-spacing: 0; margin-bottom: 15px; width: 100%; box-shadow: 0px 2px 0px #ccc; }
table.skill-list tr { border: 1px solid #bbb; }
table.skill-list thead tr{ background-color: #C9C8C8; }
table.skill-list th { background-color: #C9C8C8; }
table.skill-list tr:first-child { border-top: 1px solid #bbb; }
table.skill-list th, table.skill-list td { vertical-align: top; padding: 8px 10px; font-size: 12px; border-left: 1px solid #bbb; }
table.skill-list th:first-child , table td:first-child { border-left: none; }
table.skill-list  td * { margin:0 !important; padding: 0 !important;}



/*=Themes and Colors
---------------------------------------*/
/*
.header .navbar-default {
    background-color:#286090;
    border-color: #e7e7e7;
} 
*/
.footer,
.header .navbar-default {
    background-color:#286090;
    border-color: #286090;
    background-color:rgba(40, 96, 144, 0.94);
    border-color: rgba(40, 96, 144, 0.53);
}
h1,
.inner-circle a,
.footer, .footer a,
.header a.navbar-brand,
.header .navbar-nav > li > a{
    color:#fff;
}
.header .navbar-nav > li.current-menu-item a,
.header a.navbar-brand:hover,
.header .navbar-nav > li > a:hover{
    color:#ccc;
}
.header .navbar-nav > li.current-menu-item a{
    color:#e21350;
}
.yellow-bg {
    background: rgba(255,210,4,0.6);
}
.yellow-bg .inner-circle {
    background: #ffd204;
}
.pink-bg {
    background: rgba(266,19,80,0.6);
}
.pink-bg .inner-circle {
    background: #e21350;
}
.blue-bg {
    background: rgba(0,182,222,0.6);
}
.blue-bg .inner-circle {
    background: #00b6de;
}
.green-bg {
    background: rgba(11, 190, 129, 0.6);
}
.green-bg .inner-circle {
    background: #099a50;
}